.authBtn {
  text-transform: capitalize !important;
}

.avatar {
  margin: .5rem 0 .5rem .4rem !important;
  width: 38px !important;
  height: 38px !important;
  cursor: pointer;
}

.chip {
  height: 48px !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 27px !important;
  transition: all .2s ease-in-out !important;
  border-color: var(--primary-light-bg-color) !important;
  background-color: var(--primary-light-bg-color) !important;
}

.menu {
  overflow: visible !important;
  filter: drop-shadow(0px 2px 8px rgba(0,0,0,0.32));
  margin-top: .5rem;
  width: 240px;
}

.menu::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 38px;
  width: 10px;
  height: 10px;
  transform: translateY(-50%) rotate(45deg);
  z-index: 0;
}

.icon {
  min-width: 40px !important;
  margin-right: .5rem;
  justify-content: center;
}

.label {
  display: flex;
  align-items: center;
  position: relative;
}

.loader {
  color: inherit !important;
  position: absolute;
  top: -0.5rem;
  left: 3rem;
}
