.menuBtnContainer {
  border-radius: var(--border-radius) !important;
  overflow: hidden;
  flex-shrink: 0;
  line-height: 1;
  width: 34px;
  height: 34px;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out 0s;
}

.menuBtn {
  background-color: var(--secondary-light-bg-color) !important;
  transition: all .2s ease-in-out;
}

.menuBtn:hover {
  color: var(--secondary-light-bg-color) !important;
}
